# Fichiers env
.env
.env.*
*.env
!.env.example

# Global
*.log
__pycache__/
*.py[cod]
*.sqlite3
.DS_Store
Thumbs.db
*.gpx
*.zip
*.gpx
*.csv
*.tsv
*.sh
!/build.sh

# Python
*.egg-info/
*.egg
*.pyo
*.pyd
*.pytest_cache/
.mypy_cache/
.cache/
.venv/
venv/
pip-wheel-metadata/

# VSCode / IDEs
.vscode/
.idea/
*.swp

# Optional - OS
*.bak
*.tmp
*.orig
*.~*

# Documentation
documentation/work-in-progress

# Src
src/*
!src/.gitkeep
!src/example_tasks.md

# Logs
logs/*
!logs/.gitkeep
